h1 {
    color:pink;
    font-size: 100px;
}
p {
    color:red;
}
body{
    background-color:lime;
    background-image: url(../img/taylor-swift-confussed.gif);
    background-size: 40px;
}